@import url("https://fonts.googleapis.com/css?family=Catamaran:900&display=swap");


.Title {
    font-family: "Catamaran", sans-serif;
    color: darkblue;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.Title__filled {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
}

.Title__underline {
    transform: translateY(-9em);
}

.Title__highlight {
    transform: translateY(-2.2em);
}

.width-full {
    width: 400px;
    height: 8px;
}

.contact-size {
    font-size: 12px;
    font-weight: bold;
    background-color: #009746;
}

.contact-size:hover{
    background: #009746;
}

.img-size {
    width: 150px;
    height: 50px;
}